In [1]:
import pandas as pd
import numpy as py

In [2]:
#Read csv file
csv_file = "CDC_data.csv"
cdc_df = pd.read_csv(csv_file)
cdc_df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2012,2012,WY,Wyoming,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(43.235541343, -108.109830353)",OWS,OWS1,Q037,VALUE,56,Race/Ethnicity,American Indian/Alaska Native,RACE,RACENAA
1,2012,2012,DC,District of Columbia,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(38.890371385, -77.031961127)",OWS,OWS1,Q036,VALUE,11,Education,Less than high school,EDU,EDUHS
2,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.840571122, -86.631860762)",OWS,OWS1,Q036,VALUE,1,Age (years),25 - 34,AGEYR,AGEYR2534
3,2013,2013,US,National,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,NaN,PA,PA1,Q047,VALUE,59,Gender,Female,GEN,FEMALE
4,2011,2011,US,National,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,NaN,PA,PA1,Q047,VALUE,59,Age (years),18 - 24,AGEYR,AGEYR1824

In [3]:
#only data from Question "Percent of adults aged 18 years and older who have obesity"

cdc_df_filtered = cdc_df.loc[cdc_df["Question"] == "Percent of adults aged 18 years and older who have obesity"]

In [4]:
#filter for only 2014 to match other data set
cdc_df_filtered2 = cdc_df_filtered.loc[cdc_df["YearStart"] == 2014]
cdc_df_filtered2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1512 entries, 28 to 63017
Data columns (total 33 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   YearStart                   1512 non-null   int64
 1   YearEnd                     1512 non-null   int64
 2   LocationAbbr                1512 non-null   object
 3   LocationDesc                1512 non-null   object
 4   Datasource                  1512 non-null   object
 5   Class                       1512 non-null   object
 6   Topic                       1512 non-null   object
 7   Question                    1512 non-null   object
 8   Data_Value_Unit             0 non-null      float64
 9   Data_Value_Type             1512 non-null   object
 10  Data_Value                  1369 non-null   float64
 11  Data_Value_Alt              1369 non-null   float64
 12  Data_Value_Footnote_Symbol  143 non-null    object
 13  Data_Value_Footnote         143 non-null    object
 14  Low_Confidence_Limit        1369 non-null   float64
 15  High_Confidence_Limit       1369 non-null   float64
 16  Sample_Size                 1369 non-null   object
 17  Total                       54 non-null     object
 18  Age(years)                  324 non-null    object
 19  Education                   216 non-null    object
 20  Gender                      108 non-null    object
 21  Income                      378 non-null    object
 22  Race/Ethnicity              432 non-null    object
 23  GeoLocation                 1484 non-null   object
 24  ClassID                     1512 non-null   object
 25  TopicID                     1512 non-null   object
 26  QuestionID                  1512 non-null   object
 27  DataValueTypeID             1512 non-null   object
 28  LocationID                  1512 non-null   int64
 29  StratificationCategory1     1512 non-null   object
 30  Stratification1             1512 non-null   object
 31  StratificationCategoryId1   1512 non-null   object
 32  StratificationID1           1512 non-null   object
dtypes: float64(5), int64(3), object(25)
memory usage: 401.6+ KB

In [5]:
#dropna from Gender column
cdc_df_filtered3 = cdc_df_filtered2
cdc_df_filtered3.dropna(subset = ["Gender"], inplace=True)
cdc_df_filtered3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 108 entries, 513 to 62774
Data columns (total 33 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   YearStart                   108 non-null    int64
 1   YearEnd                     108 non-null    int64
 2   LocationAbbr                108 non-null    object
 3   LocationDesc                108 non-null    object
 4   Datasource                  108 non-null    object
 5   Class                       108 non-null    object
 6   Topic                       108 non-null    object
 7   Question                    108 non-null    object
 8   Data_Value_Unit             0 non-null      float64
 9   Data_Value_Type             108 non-null    object
 10  Data_Value                  108 non-null    float64
 11  Data_Value_Alt              108 non-null    float64
 12  Data_Value_Footnote_Symbol  0 non-null      object
 13  Data_Value_Footnote         0 non-null      object
 14  Low_Confidence_Limit        108 non-null    float64
 15  High_Confidence_Limit       108 non-null    float64
 16  Sample_Size                 108 non-null    object
 17  Total                       0 non-null      object
 18  Age(years)                  0 non-null      object
 19  Education                   0 non-null      object
 20  Gender                      108 non-null    object
 21  Income                      0 non-null      object
 22  Race/Ethnicity              0 non-null      object
 23  GeoLocation                 106 non-null    object
 24  ClassID                     108 non-null    object
 25  TopicID                     108 non-null    object
 26  QuestionID                  108 non-null    object
 27  DataValueTypeID             108 non-null    object
 28  LocationID                  108 non-null    int64
 29  StratificationCategory1     108 non-null    object
 30  Stratification1             108 non-null    object
 31  StratificationCategoryId1   108 non-null    object
 32  StratificationID1           108 non-null    object
dtypes: float64(5), int64(3), object(25)
memory usage: 28.7+ KB

C:\Users\grede\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [6]:
cdc_df_filtered3.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
513,2014,2014,AZ,Arizona,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(34.86597028, -111.763811277)",OWS,OWS1,Q036,VALUE,4,Gender,Female,GEN,FEMALE
3985,2014,2014,VA,Virginia,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(37.542680674, -78.457890463)",OWS,OWS1,Q036,VALUE,51,Gender,Male,GEN,MALE
5973,2014,2014,NE,Nebraska,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(41.641040988001, -99.365720623)",OWS,OWS1,Q036,VALUE,31,Gender,Male,GEN,MALE
6859,2014,2014,MD,Maryland,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(39.290580964, -76.609260111)",OWS,OWS1,Q036,VALUE,24,Gender,Male,GEN,MALE
7826,2014,2014,LA,Louisiana,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(31.312660644, -92.445680071)",OWS,OWS1,Q036,VALUE,22,Gender,Male,GEN,MALE

In [7]:
#Retrieve relevant columns
cdc_df_filtered4 = cdc_df_filtered3[['LocationAbbr', 'Data_Value_Alt', 'Gender']]

In [8]:
#Rename Columns
cdc_df_clean = cdc_df_filtered4.rename(columns={
    'LocationAbbr': 'stateid',
    'Data_Value_Alt': 'percentage(obese)',
    'Gender': 'gender'
})

In [9]:
#save to a csv file
cdc_df_clean.to_csv("cdc_data_clean.csv", index=True)